<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-barnd-logo" href="#" >{{title}}</a>
    </div>
  </div>
  </nav>  
</div>  